header {
  background-color: blue;

  height: 80px;

  width: auto;
}

footer {
  background-color: red;

  height: 80px;
  width: auto;
  text-align: center;
}

.leftside {
  background-color: yellow;

  height: 400px;

  width: 550px;
  float: right;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}

.rightside {
  background-color: orange;

  height: 400px;
  width: 130px;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}
